*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.container{
    text-align: center;
    background: #9ad78f;
    padding: 80px 80px;
    border-radius: 10px;
    box-shadow: 20px 40px 70px rgb(rgb(181, 79, 79), rgb(66, 160, 66), rgb(112, 112, 229));
}
.progress{
    width: 100%;
    background-color: #0e0e0e;
    border-radius: 5px;
    margin: 20px 0;
    height: 30px;
    overflow: hidden;
}

.growth{
    height: 100%;
    background-color: #e02e0f;
    width: 0;
    transition: 0.5s;
}
button{
    padding: 10px 20px;
    font-size: 15px;
    background-color:rgb(17, 165, 239) ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


